.center{
    text-align: center;
}
.imgs{
    height: 4cm;
}
.back{
    background-color: #313945;
}
.defaultt{
    color: #FFF;
}

.toolbar-background {
    background-color: #424BA7;
    color: #FFF;
  }