<ion-header>
  <ion-title class="toolbar-background" style="text-align: center;padding: 0.4cm;padding-top: 0.8cm;border-radius: 0.08cm;">
    Ticket
    <br />
  </ion-title>
</ion-header>
<ion-content>
  <br/><br/><br/>
    <ion-item>
        <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="tipo" placeholder="Seleccione una opcion">
          <ion-select-option value="Ambulante">Ambulante</ion-select-option>
          <ion-select-option value="Puesto Fijo">Puesto Fijo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Impuesto</ion-label>
      <ion-select [(ngModel)]="precio" placeholder="Seleccione una opcion">
        <ion-select-option value="1.00">$ 1.00</ion-select-option>
        <ion-select-option value="0.50">$ 0.50</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Puesto #:</ion-label>
        <ion-input type="number" [(ngModel)]="numero"  value=""></ion-input>
    </ion-item>
    <br />
    <ion-grid>
        <ion-row>
          <ion-col class="center">
            <ion-button color="dark" (click)="get_data(tipo,precio,numero,0)">Generar Ticket</ion-button>
          </ion-col>
          <ion-col class="center">
            <ion-button color="dark" (click)="get_data(tipo,precio,numero,1)">Imprimir Ticket</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
