<ion-header>
  <ion-title class="toolbar-background" style="text-align: center;padding:  0.4cm;padding-top: 0.8cm;border-radius: 0.08cm;">
      
      Sincronizar
    <br />
  </ion-title>
</ion-header>
<ion-content>
<br/><br/>
  <ion-card>
      <ion-card-header class="click" (click)="presentToastWithOptions()">
        <ion-img src="assets\icon\upload.png"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        Al tocar el boton se sincronizaran los datos al sistema.
      </ion-card-content>
    </ion-card>
</ion-content>
